-var titulo = 'Sub-titulo Principal'
-var titulos = ['Titulo Principal','Subitulo 1','Subitulo 2','Subitulo 3']
-var enlaces=['Acerca','Noticias','Contacto']

mixin caja(imagen, titulo, contenido)
	.caja
		.caja__imagen
			img(src="images/"+imagen)
		.caja__contenido 
			h3=titulo
			p=contenido