		section.intro
			.intro__imagen
				img(src="./images/imagen.png", alt="") 
			.intro__contenido
				h2 Titulo Principal
				p
					| Lorem ipsum dolor sit amet consectetur adipisicing.
					| Lorem ipsum dolor sit amet consectetur adipisicing.
					| Lorem ipsum dolor sit amet consectetur adipisicing.
					| Lorem ipsum dolor sit amet consectetur adipisicing.
					| Lorem ipsum dolor sit amet consectetur adipisicing.
					| Lorem ipsum dolor sit amet consectetur adipisicing.
					span Lorem ipsum dolor sit amet consectetur. 
				a.boton Leer Mas